@font-face
{
font-family:DancingScriptB;
src:url(../fonts/DancingScript-Bold.ttf);
}

@font-face
{
font-family:DancingScriptR;
src:url(../fonts/DancingScript-Regular.ttf);
}

@font-face
{
font-family:PerryGot;
src:url(../fonts/PERRYGOT.ttf);
}

@font-face
{
font-family:Sketch Gothic School;
src:url(../fonts/Sketch_Gothic_School.ttf);
}

@font-face
{
font-family:UechiG;
src:url(../fonts/Uechi-Gothic.ttf);
}

@font-face
{
font-family:UechiI;
src:url(../fonts/Uechi-Italic.ttf);
}

@font-face
{
font-family:GothicUltra;
src:url(../fonts/gothicU.otf);
}

@font-face
{
font-family:penumbra;
src:url(../fonts/penumbra-serif-web.ttf);
}

@font-face
{
font-family:arcaico;
src:url(../fonts/Arcaico.ttf);
}

@font-face
{
font-family:gare;
src:url(../fonts/Gare.ttf);
}

@font-face
{
font-family:zillu;
src:url(../fonts/Zilluncial.ttf);
}

@font-face
{
font-family:uncial;
src:url(../fonts/UNCIAL.ttf);
}

@font-face
{
font-family:forgotten;
src:url(../fonts/forgotten.ttf);
}

@font-face
{
font-family:viking;
src:url(../fonts/VIKING-N.ttf);
}

@font-face
{
font-family:irish;
src:url(../fonts/IrishUncialfabeta-Bold.ttf);
}

@font-face
{
font-family:cry2;
src:url(../fonts/Cryv2.ttf);
}
